{% extends 'shop/basic.html' %}
{% block title %}About page{% endblock %}
{% block body %}
    
    <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Restro Bar!</h1>
      <p> Welcome to Restro Bar, your ultimate destination for exquisite dining and unforgettable experiences in the heart of Visakhapatnam. Situated in the vibrant cityscape, our establishment blends modern sophistication with a warm, welcoming ambiance to create the perfect setting for any occasion.
At Restro Bar, we pride ourselves on offering a diverse menu inspired by global flavors while also celebrating the rich culinary heritage of India's coastal regions. From delectable seafood delicacies to tantalizing vegetarian delights and savory meat options, our kitchen is dedicated to crafting dishes that tantalize the taste buds and leave a lasting impression.
What sets us apart is not just our culinary expertise but also our commitment to delivering exceptional service and hospitality. Our team of passionate professionals is dedicated to ensuring that every visit to Restro Bar is a memorable one, whether you're joining us for a casual evening with friends, a romantic dinner for two, or a special celebration with loved ones.
In addition to our mouthwatering menu, Restro Bar offers an impressive selection of handcrafted cocktails, fine wines, and premium spirits to complement your dining experience. Whether you're in the mood for a classic cocktail or feeling adventurous enough to try one of our signature creations, our talented mixologists are here to elevate your evening.
We believe that dining is not just about food; it's about creating moments and memories that last a lifetime. That's why we strive to provide not just a meal but an unforgettable journey for your senses, where every bite, sip, and conversation is savored to the fullest.
Thank you for choosing Restro Bar. We look forward to welcoming you and creating magical moments together.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Testimonials</h2>
        <p>"We serve the best beers and alcoholic
beverages here!"</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Hours</h2>
        <p>Sun-Thurs: 11:15am - 12:00pm
Fri: 11:15am - 10:30pm
monday Closed</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Location</h2>
        <p>Address:
pendhurthi-anandhapuram highway Road
Sontyam, Visakhapatnam-531173</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
    
{% endblock %}